/* stylelint-disable csstree/validator */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;600;700&display=swap');

body {
  top: 0 !important;
  left: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
  font-size: 14px;
  box-sizing: border-box;
  font-family: 'IBM Plex', sans-serif;
  color: #e5dcd8;
  background: #1f201e;
}

.flex {
  display: flex;
}

h2 {
  font-size: 3rem;
  padding: 0 1.5rem;
}

.fa-gamepad {
  color: #0ca6b1;
}

.display-container {
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  align-items: center;
}

.recent,
.add-scores {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 70%;
  min-height: fit-content;
  padding: 0 2rem;
  border-radius: 0.2rem;
  z-index: 2;
  backdrop-filter: blur(10px);
}

.recent-top,
.add-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.recent-top h3 {
  font-size: 1.5rem;
}

.add-top h3 {
  font-size: 1.5rem;
}

.refresh {
  position: relative;
  border: none;
  font-size: 1rem;
  border-radius: 50%;
  width: 2.6rem;
  height: 2.6rem;
  color: #e5dcd8;
  cursor: pointer;
  background-color: #4b4c4a;
  transition: transform 0.8s ease-in-out;
  text-align: center;
  box-shadow: rgba(6, 24, 44, 0.4) 0 0 0 2px, rgba(6, 24, 44, 0.65) 0 4px 6px -1px, rgba(255, 255, 255, 0.08) 0 1px 0 inset;
}

.refresh:hover {
  background-color: #6e6f6e;
  transform: rotate(180deg);
}

.scoreboard {
  display: flex;
  flex-direction: column;
  height: 20rem;
  overflow-y: auto;
  gap: 0.8rem;
  width: 100%;
  padding: 0 0.3rem;
  border-radius: 0.2rem;
}

.input-section {
  gap: 0.8rem;
  width: 95%;
  align-items: center;
}

.name-input,
.score-input {
  border: none;
  padding: 1rem 1rem;
  font-size: 1rem;
  background-color: #4b4c4a;
  border-radius: 0.2rem;
  width: 60%;
  color: #0ca6b1;
  font-family: 'Hack', monospace;
  box-shadow: rgba(6, 24, 44, 0.4) 0 0 0 2px, rgba(6, 24, 44, 0.65) 0 4px 6px -1px, rgba(255, 255, 255, 0.08) 0 1px 0 inset;
}

.submit {
  font-size: 1rem;
  padding: 0.8rem;
  border-radius: 0.2rem;
  border: none;
  cursor: pointer;
  color: #e5dcd8;
  background-color: #0ca6b1;
  width: 6rem;
  box-shadow: rgba(6, 24, 44, 0.4) 0 0 0 2px, rgba(6, 24, 44, 0.65) 0 4px 6px -1px, rgba(255, 255, 255, 0.08) 0 1px 0 inset;
}

.scoreboard #list-body {
  list-style: none;
  padding: 0;
  flex-direction: column;
  gap: 0.8rem;
}

.list {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  font-size: 1rem;
  background-color: #4b4c4a;
  border-radius: 0.5rem;
  box-shadow: rgba(6, 24, 44, 0.4) 0 0 0 2px, rgba(6, 24, 44, 0.65) 0 4px 6px -1px, rgba(255, 255, 255, 0.08) 0 1px 0 inset;
}

.fa-user {
  font-size: 1.5rem;
  color: #0ca6b1;
}

.name-icon {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.score {
  font-weight: 700;
  font-size: 1.2rem;
  color: #0ca6b1;
}

::-webkit-scrollbar {
  width: 0.6rem;
}

::-webkit-scrollbar-track {
  background: #1f201e;
}

::-webkit-scrollbar-thumb {
  background: #4b4c4a;
  border-radius: 0.2rem;
}

::-webkit-scrollbar-thumb:hover {
  background: #6e6f6e;
}

@media screen and (max-width: 768px) {
  h2 {
    text-align: center;
  }

  .display-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0 1rem;
    width: 100%;
  }

  .input-section {
    flex-direction: column;
    width: 100%;
  }

  .name-input,
  .score-input {
    width: 100%;
  }

  .add-scores {
    height: 15rem;
  }
}
